{% extends "base.html" %}
{% block main %}
    <div class="container">
        <div class="row">
            <div class="page-header">
                <h1 class="text-center">Hi {{ current_user.cn }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3  col-md-offset-3">
                <img src="{{ current_user.gravatar }}?s=300&d=retro" alt="" class="img-circle img-responsive mg-btm">
            </div>
            <div class="col-md-3">
                <dl>
                    <dt>Email</dt>
                    <dd>{{ current_user.email }}</dd>
                    <dt>First name</dt>
                    <dd>{{ current_user.first_name }}</dd>
                    <dt>Last name</dt>
                    <dd>{{ current_user.last_name }}</dd>
                </dl>
                <a class="btn btn-primary btn-lg" href="{{ url_for_security('logout') }}">Logout</a>
            </div>
        </div>
    </div>
{% endblock %}
